<!DOCTYPE html>

<HTML>
    <HEAD>
                <title>Node About Page</title>
        <link rel="stylesheet" href="/css/styles.css"> 
    </HEAD>
    <BODY>
        <div class='maincontent'>
            {{>header}}
            <img class='portrait' src='/img/DonHeadshot.jpg'>
            <p>This is {{name}}</p>
        </div>

        {{>footer}}
    </BODY>
</HTML>